
/* styles.css */
body {
    background-color: #f4f4f4;
}
.card {
    border-radius: 10px;
    background: rgb(255, 130, 13);
    
                        
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}